<div class="container">
  <div class="jumbotron">
    <h1>
      <strong>Eat-Da-Burger!!</strong>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel-panel default">
      <ul class="list group">
        {{#each burgers}} {{#unless this.devoured}}
        <li class="input-group">
          <h3 class="lead">{{this.burger_name}}</h3>
          <div class="col-md-2">
            <span class="input-group-btn">
              <form action="/update/{{this.id}}?_method=PUT" method="POST">
                <button class="btn btn-default btn-lg" type="submit">Eat It!</button>
              </form>
            </span>
          </div>
        </li>
        {{/unless}} {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <ul class="list-group">
        {{#each burgers}} {{#if this.devoured}}
        <li class="list-group-item">
          <p class="burgerlist">{{this.burger_name}} </p>
        </li>
        {{/if}} {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <h4>Enter the name of the burger you want to eat and click Add Burger!</h4>

    <form class="create-update-form" action="/create" method="POST">
      <div class="form-group">
        <textarea class="form-control" rows="5" id="comment" name="burger_name"></textarea>
      </div>
      <button class="btn btn-default btn-lg" type="submit">Add Burger!</button>
    </form>
  </div>
</div>